# Copyright (c) 2023 Minniti Julien

# Permission is hereby granted, free of charge, to any person obtaining a copy
# of TFinder and associated documentation files, to deal
# in TFinder without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of TFinder, and to permit persons to whom TFinder is
# furnished to do so, subject to the following conditions:

# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of TFinder.

# TFINDER IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH TFINDER OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

extra_streamlit_components==0.1.56
streamlit==1.26.0
pyvis==0.3.1
seaborn==0.12.2
streamlit-aggrid==0.3.3
stringdb==0.1.5
lxml==4.9.3
requests==2.31.0
beautifulsoup4==4.12.2
streamlit-analytics==0.4.1
pymed==0.8.9
plotly==5.16.1
hydralit_components==1.0.10
weblogo==3.7.12
Bio==1.5.9
logomaker==0.8
openpyxl==3.1.2
sendgrid==6.10.0
Pillow==10.0.0
stqdm==0.0.5
tqdm==4.66.1
streamlit-modal==0.1.0
pandas==2.0.3